*{
    margin: 0;
}
.container1{
    width: 25%;
    background-color: green;
    color: #fff;
    position: fixed;
}
li{
    font-size: 55px;
    list-style: none;
    padding-bottom: 100px;
}
.container2{
    margin-left: 500px;
}
p{
    font-size: 25px;
}
h1{
    font-size: 40px;
}
.main{
    margin-top: 150px;
}